<div class="escenaPage" [ngClass]="{'class1': this.currentSentence === 0,'class2': this.currentSentence === 1,
 'class3': this.currentSentence === 2, 'class4': this.currentSentence === 3}">
<!-- <div class="escenaPage" [ngStyle]="{'background-color': this.image === '1.jpg' ? 'red' : (this.image === '2.jpg' ? 'blue' : null) }" > -->
    <div class="botones">
        <button (click)="prev()" type="button" class="btn btn-dark" >Anterior</button>
        <button (click)="next()" type="button" class="btn btn-dark" >Següent</button>
    </div>
    <div >
        <p *ngFor="let each of listado_frases; let i=index"[ngClass]="{'classCurrent': 
        i  === this.currentSentence}" >{{each.txt}}</p>
    </div>
</div>

